$primary-0: rgba( 86,185,228,1);	// Main Primary color */
$primary-1: rgba(178,227,248,1);
$primary-2: rgba(126,205,238,1);
$primary-3: rgba( 51,165,214,1);
$primary-4: rgba( 17,141,195,1);

$secondary-1-0: rgba(144, 95,232,1);	// Main Secondary color (1) */
$secondary-1-1: rgba(206,182,249,1);
$secondary-1-2: rgba(171,133,241,1);
$secondary-1-3: rgba(118, 62,220,1);
$secondary-1-4: rgba( 90, 27,203,1);

$secondary-2-0: rgba(255,234, 89,1);	// Main Secondary color (2) */
$secondary-2-1: rgba(255,246,180,1);
$secondary-2-2: rgba(255,239,129,1);
$secondary-2-3: rgba(255,230, 52,1);
$secondary-2-4: rgba(255,225, 11,1);

$complement-0: rgba(255,177, 89,1);	// Main Complement color */
$complement-1: rgba(255,219,180,1);
$complement-2: rgba(255,196,129,1);
$complement-3: rgba(255,159, 52,1);
$complement-4: rgba(255,140, 11,1);


// Varible reference names

$primary:       $primary-0;
$secondary:     $secondary-1-0;
$secondary-2:   $secondary-2-0;
$complement:    $complement-0;

$background-color: rgb(250, 250, 250);
$background-color-light: $background-color;
$font-color: rgb(90, 90, 90);
$font-color-light: $font-color;
$font-color-hover: darken($font-color, 10%);
$font-color-light-hover: $font-color-hover;

$background-color-dark: rgb(51, 51, 51);
$font-color-dark: rgb(238, 238, 238);
$font-color-dark-hover: darken($font-color-dark, 10%);

// from http://paletton.com/#uid=73r0X0kkTRQ9tY-fNVopuNeuFGD
