<md-dialog aria-label="Credentials" ng-cloak>
    <form layout="column">
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>{{credentials.name}} Credentials</h2>
                <span flex></span>
            </div>
        </md-toolbar>
        <md-dialog-content>
            <md-content layout="column" layout-padding>
                <div layout="row">
                    <md-input-container>
                        <label>Name</label>
                        <input ng-model="credentials.name" type="text">
                    </md-input-container>
                    <md-input-container>
                        <label>Icon</label>
                        <input ng-model="credentials.icon" type="text">
                    </md-input-container>
                </div>
                <div layout="row">
                    <md-input-container>
                        <label>{{credentials.data.accessKeyID.key}}</label>
                        <input ng-model="credentials.data.accessKeyID.value" type="text">
                    </md-input-container>
                </div>
            </md-content>
            <md-dialog-actions layout="row">
                <span flex></span>
                <md-button ng-click="cancel()">
                    Cancel
                </md-button>
                <md-button ng-click="add(credentials)" style="margin-right:20px;">
                    Save
                </md-button>
            </md-dialog-actions>
        </md-dialog-content>
    </form>
</md-dialog>
